certifi==2019.11.28
docutils==0.16
elasticsearch==7.8.0
idna==2.10
imscommon==2.0.0
numpy==1.16.6
pandas==0.24.2
python-dateutil==2.8.1
requests==2.24.0
sklearn==0.0
statistics==1.0.3.5
tensorflow-gpu==2.6.4
typing==3.7.4.1
urllib3==1.25.9