<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context
                          http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:mvc="http://www.springframework.org/schema/c">

    <context:component-scan
            base-package="com.bluemarlin.ims.imsservice.controller"/>
    <context:component-scan
            base-package="com.bluemarlin.ims.imsservice.service"/>
    <context:component-scan
            base-package="com.bluemarlin.ims.imsservice.dao"/>

    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
            </list>
        </property>
    </bean>

    <bean id="inventoryEstimateService" class="com.bluemarlin.ims.imsservice.service.InventoryEstimateService"/>
    <bean id="bookingService" class="com.bluemarlin.ims.imsservice.service.BookingService"/>
    <bean id="userEstimateService" class="com.bluemarlin.ims.imsservice.service.UserEstimateService"></bean>

    <bean id="inventoryEstimateDao" class="com.bluemarlin.ims.imsservice.dao.inventory.InventoryEstimateDaoESImp">
        <constructor-arg ref="properties"></constructor-arg>
    </bean>

    <bean id="bookingDao" class="com.bluemarlin.ims.imsservice.dao.booking.BookingDaoESImp">
        <constructor-arg ref="properties"></constructor-arg>
    </bean>

    <bean id="baseDao" class="com.bluemarlin.ims.imsservice.dao.BaseDaoESImp">
        <constructor-arg ref="properties"></constructor-arg>
    </bean>

    <bean id="tbrDao" class="com.bluemarlin.ims.imsservice.dao.tbr.TBRDaoESImp">
        <constructor-arg ref="properties"></constructor-arg>
    </bean>

    <bean id="userEstimateDao" class="com.bluemarlin.ims.imsservice.dao.users.UserEstimateDaoESImp">
        <constructor-arg ref="properties"></constructor-arg>
    </bean>

    <bean id="esClient" class="com.bluemarlin.ims.imsservice.esclient.ESRichClientImp">
        <constructor-arg ref="properties"></constructor-arg>
    </bean>


</beans>
